* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 300px;
    width: 400px;
    background:#2F5A76;
    position: absolute;
}

.ball{
    width: 30px;
    height: 30px;
    position:absolute;
    border-radius: 50%;
    background: #F5BB60;
    top:45%;
    left:25px;
    box-shadow: 130px 0 #F5BB60,
      260px 0 #F5BB60;
}

.line{
    width:265px;
    height:30px;
    position:absolute;
    background:#F5BB60;
    top:0;
    right:0;
    box-shadow: 0 270px #F5BB60;
  }