* {
    padding: 0;
    margin: 0;
}

.container{
    height: 300px;
    width: 400px;
    background: #085328;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.teste{
    position: absolute;
    width: 180px;
    height: 180px;
    border: 30px solid #8CB457;
    border-right:60px solid #8CB457;
    border-left:60px solid #8CB457;
}

p{
    background:#085328;
    position:absolute;
    height:180px;
    width:30px;
    left:50px;
    top:60px;
}

[r]{
    left:320px;
}