* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 300px;
    width: 400px;
    background: #5A9F48;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teste {
    width: 120px;
    height: 160px;
    border-radius: 30px;
    background: #FADE8B;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.teste:before {
    content: '';
    height: 60px;
    width: 60px;
    background: #D24444;
    display: flex;
    border-radius: 50%;
}

.side{transform:rotate(90deg);}